#IGNORE EVERYTHING
*
!*/

#EXCEPT THE FOLLOWING
#VARIA
!LICENSE
!pyproject.toml
!poetry.lock
!.gitignore
!.flake8
!README.md
!CHANGELOG.md
!CONTRIBUTING.md

#IMAGES
!images/*.png

#WORKFLOWS
!.github/workflows/**/*.yml
!.github/workflows/**/*py

#FONTS
!fonts/**/*.ttf
!fonts/**/OFL.txt

#CODE
!tests/**/*.py
!tests/data/*.csv
!rootsstyle/**/*.py

#SCRIPTS
!examples/examples.ipynb