#IGNORE EVERYTHING
*
!*/

#VARIA
!LICENSE
!pyproject.toml
!poetry.lock
!.gitignore
!.github/workflows/**/*.yml
!.flake8

#README
!README.md
!CHANGELOG.md
!images/*.png

#FONTS
!fonts/**/*.ttf
!fonts/**/OFL.txt

#CODE
!tests/**/*.py
!tests/data/*.csv
!rootsstyle/**/*.py

#SCRIPTS
!scripts/examples.ipynb
!scripts/update_changelog.py
!scripts/plot_multiplot.py