*
*/**

#VARIA
!LICENSE
!pyproject.toml
!poetry.lock
!.gitignore
!.github/workflows/*.yml

#README
!README.md
!images/*.png

#FONTS
!fonts/**/*.ttf
!fonts/**/OFL.txt

#CODE
!tests/**/*.py
!rootsstyle/**/*.py